In [1]:
import pandas as pd
import streamlit as st
import plotly.express as px

In [2]:
df = pd.read_excel("/home/victor87/DashboardPython/Produto.xlsx")
df.head(5)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Cal√ßa     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [4]:
df.shape

(50, 4)

In [19]:
df = df.rename(columns={
    'id': 'id',
    'nome': 'name',
    'pre√ßo': 'price',
    'Id_Category': 'category_id'
})

df.columns

Index(['id', 'name', 'price', 'category_id'], dtype='object')

In [14]:
df.isnull().sum()

id             0
nome           0
pre√ßo          0
Id_Category    0
dtype: int64

In [20]:
# Simulando o carregamento do CSV
data = {
    'id': [0, 1, 2, 3, 4],
    'name': [
        'Sapato vermelho', 
        'Bolsa mais que Velha', 
        'Cal√ßa', 
        'Camisa apertadinha', 
        'Vestido Super curto'
    ],
    'price': [96, 8000, 75, 170, 57],
    'category_id': [0, 0, 0, 0, 0]
}
df = pd.DataFrame(data)

st.title("üìä Dashboard de Produtos")

# Mostrar tabela
st.subheader("Tabela de Produtos")
st.dataframe(df)

# Estat√≠sticas
st.subheader("üìà Estat√≠sticas de Pre√ßo")
st.write(f"Pre√ßo m√©dio: {df['price'].mean():.2f}")
st.write(f"Pre√ßo m√≠nimo: {df['price'].min()}")
st.write(f"Pre√ßo m√°ximo: {df['price'].max()}")

# Filtro
category_options = df['category_id'].unique()
selected_category = st.selectbox("Filtrar por Categoria", category_options)

df_filtered = df[df['category_id'] == selected_category]

st.subheader("Produtos Filtrados")
st.dataframe(df_filtered)

# Gr√°fico
st.subheader("Distribui√ß√£o de Pre√ßos")
fig = px.histogram(df, x='price', nbins=10, title='Histograma de Pre√ßos')
st.plotly_chart(fig)

2025-06-27 17:11:22.607
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/victor87/anaconda3/lib/python3.12/site-packages/ipykernel_launcher.py [ARGUMENTS]
2025-06-27 17:11:22.780 Session state does not function when running a script without `streamlit run`

DeltaGenerator()